In [1]:
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

matplotlib.rcParams['pdf.fonttype'] = 42

In [2]:
df = pd.read_csv("H1-B_employment_2019.csv")

In [3]:
df

,Fiscal Year,Employer,Initial Approvals,Initial Denials,Continuing Approvals,Continuing Denials,NAICS,Tax ID,State,City,ZIP
0,2019,UAB HEALTH SYSTEM,0,0,0,1,56,NaN,AL,BIRMINGHAM,35233.0
1,2019,ADVANCED ONCOLOGY GROUP LLC,1,0,0,0,62,NaN,CA,ARCADIA,91007.0
2,2019,APEXLOGISTICS INTL SFO INC,0,1,0,0,54,NaN,CA,COMPTON,90221.0
3,2019,DOTUM OYENUGA D/B/A ANALYSIS & SOL,0,1,0,0,54,NaN,CA,LOS ANGELES,90034.0
4,2019,EVALUATOR GROUP INC,1,0,0,0,54,NaN,CO,BOULDER,80301.0
5,2019,CRITICAL MIX,0,0,1,0,54,NaN,CT,WESTPORT,6880.0
6,2019,JC MACHINE WORKS CORP,0,0,1,0,23,NaN,FL,DORAL,33178.0
7,2019,JUDGE SOFTWARE PROF INC,0,0,1,0,54,NaN,FL,JACKSONVILLE,32258.0
8,2019,DEFENSESTORM INC,1,0,0,0,51,NaN,GA,ALPHARETTA,30005.0
9,2019,COMMUNITY CONSOLIDATED SCH DIST NO,1,0,0,0,61,NaN,IL,BLOOMINGDALE,60108.0
10,2019,INDIANA INTERNAL MED CONSULTANTS,0,0,1,0,62,NaN,IN,GREENWOOD,46143.0
11,2019,STRUCTURAL DESIGH INCORPORATED D/B,1,0,0,0,54,NaN,MI,ANN ARBOR,48104.0
12,2019,F H R INC DBA MI LANGUAGE CTR,0,1,0,0,61,NaN,MI,ANN ARBOR,48104.0
13,2019,LEMON TREE MEDIA LLC,1,0,0,0,54,NaN,NC,RALEIGH,27615.0
14,2019,DOOSAN INFRACORE NORTH AMERICA LLC,0,0,1,0,33,NaN,ND,WEST FARGO,58078.0
15,2019,MICRO DATA SYSTEMS INC,0,1,0,0,54,NaN,NJ,HOLMDEL,7733.0
16,2019,NETROCON SYSTEMS LLC DBA NETROCON,0,0,1,0,54,NaN,NJ,PRINCETON,8540.0
17,2019,NORWEGIAN CHRISTIAN HOME HLTH CTR,0,0,0,1,62,NaN,NY,BROOKLYN,11219.0
18,2019,CORNELL UNIV GLOBAL LEARNING,2,0,2,0,61,NaN,NY,ITHACA,14853.0
19,2019,LODGING SOLUTIONS LLC DBA ACCOMIDA,0,0,1,0,56,NaN,NY,MELVILLE,11747.0
20,2019,CRUSHH APP LLC,1,0,0,0,51,NaN,NY,NEW YORK,10003.0
21,2019,KOSTOW GREENWWOOD ARCHITECTS LLP,0,0,1,0,54,NaN,NY,NEW YORK,10012.0
22,2019,WK WEBSTER OVERSEAS LTD,1,0,0,0,52,NaN,NY,NEW YORK,10038.0
23,2019,TERADA OPERATIONS INC,1,0,0,0,54,NaN,OH,MIAMISBURG,45342.0
24,2019,VIHAR F W LP BEST WESTERN INN,0,0,1,0,72,NaN,PA,FORT WASHINGTON,19034.0
25,2019,BLUE OCEAN INTERNATIONAL BANK LLC,1,0,0,0,52,NaN,PR,SAN JUAN,918.0
26,2019,CBL & ASSOCIATES MANAGEMENT INC,0,1,0,0,53,NaN,TN,CHATTANOOGA,37421.0
27,2019,LANE BOOT COMPANY,0,0,1,0,31,NaN,TX,ARLINGTON,76011.0
28,2019,SUPREME PHARMACY LLC DBA METRORX,1,0,0,0,44,NaN,TX,HOUSTON,77057.0
29,2019,JMP PETROLEUM TECHNOLOGIES LLC,0,1,0,0,33,NaN,TX,HUMBLE,77338.0
...,...,...,...,...,...,...,...,...,...,...,...
22471,2019,HAWAI I PACIFIC UNIV,0,0,1,0,61,3930.0,HI,HONOLULU,96813.0
22472,2019,RESEARCH CORP OF THE UNIV OF HI,2,0,1,1,54,5254.0,HI,HONOLULU,96848.0
22473,2019,MAKAI OCEAN ENGINEERING INC,0,0,1,0,54,6276.0,HI,WAIMANALO,96795.0
22474,2019,BISHOP MUSEUM,1,0,0,0,71,1980.0,HI,HONOLULU,96817.0
22475,2019,VERIFONE INC,7,0,0,1,52,6064.0,CA,SAN JOSE,95134.0
22476,2019,TRINITY CHRISTIAN SCHOOL,0,0,1,0,61,7568.0,HI,KAILUA,96734.0
22477,2019,PACIFIC GATEWAY CENTER,0,0,1,0,81,6204.0,HI,HONOLULU,96819.0
22478,2019,NOTKIN HAWAII INC,1,0,0,0,54,7335.0,HI,HONOLULU,96814.0
22479,2019,CHAMINADE UNIV OF HONOLULU,1,0,0,0,61,2261.0,HI,HONOLULU,96816.0
22480,2019,PACRIM MARKETING GROUP INC,1,0,0,0,54,7752.0,HI,HONOLULU,96814.0
22481,2019,RIDER LEVETT BUCKNALL LTD,0,0,1,0,23,2243.0,AZ,PHOENIX,85018.0
22482,2019,KKDLY LLC,0,0,1,0,54,2355.0,HI,HONOLULU,96813.0
22483,2019,NAN INC,1,2,0,0,23,7519.0,HI,HONOLULU,96819.0
22484,2019,CENTRAL DYNAMICS LLC DBA CENDYN,0,0,0,1,51,9788.0,FL,BOCA RATON,33432.0
22485,2019,WINCUBIC COM INC,0,0,1,0,51,1892.0,HI,HONOLULU,96814.0
22486,2019,WHITEHAT SECURITY INC,2,0,2,0,54,8892.0,CA,SAN JOSE,95110.0
22487,2019,HTC AMERICA INNOVATION INC,1,0,0,0,33,827.0,WA,SEATTLE,98104.0
22488,2019,ENCYCLE TECHNOLOGIES INC,1,1,0,0,51,1303.0,CA,SAN MARCOS,92078.0
22489,2019,EUC HOLDINGS INC DBA EUCLIDES TECH,0,1,0,0,54,4583.0,MA,CAMBRIDGE,2142.0
22490,2019,AFFINE INC,3,5,0,0,54,6185.0,NY,NEW YORK,10004.0
22491,2019,COREDATA RESEARCH LLC,1,0,0,0,54,8162.0,MA,BOSTON,2108.0
22492,2019,FYBER INC,0,1,0,0,54,8186.0,CA,SAN FRANCISCO,94103.0
22493,2019,SQUILLION SYSTEMS LLC,0,4,1,1,54,2858.0,NH,PORTSMOUTH,3801.0
22494,2019,APPNOVATION USA INC,0,0,1,0,54,3093.0,GA,ATLANTA,30326.0
22495,2019,OPULENTSOFT LLC,7,2,0,0,54,4574.0,NJ,TRENTON,8619.0
22496,2019,RHYTHMONE HOLDING INC DBA RHYTHMON,1,0,0,0,54,6508.0,CA,SAN FRANCISCO,94111.0
22497,2019,CAESAR HARDWARE INTERNATIONAL LTD,0,0,1,0,42,6704.0,CA,ROWLAND HEIGHTS,91748.0
22498,2019,ROXUL USA INC,0,1,0,0,32,8111.0,MS,BYHALIA,38611.0
22499,2019,EPC HELP INC,0,0,0,1,54,4335.0,WY,CHEYENNE,82001.0
22500,2019,UNIVERSITY OF HAWAII,9,0,9,0,61,354.0,HI,HONOLULU,96822.0

In [4]:
df_state = pd.DataFrame(df.State.value_counts())

In [5]:
df_state = df_state.reset_index()

In [6]:
df_state.rename(columns={"index": "State_name", "State": "Number"})

   State_name  Number
0          CA    4336
1          NY    2727
2          TX    2244
3          NJ    1841
4          MA    1106
5          IL    1065
6          VA     916
7          MI     832
8          FL     776
9          PA     722
10         GA     707
11         MD     469
12         OH     434
13         WA     429
14         NC     384
15         MN     271
16         CT     268
17         AZ     245
18         MO     217
19         CO     209
20         TN     192
21         WI     180
22         IN     174
23         DC     165
24         UT     126
25         KS     109
26         IA     101
27         DE     100
28         AL      99
29         OR      93
30         KY      93
31         SC      93
32         NE      89
33         LA      82
34         OK      70
35         NH      65
36         AR      63
37         NV      57
38         NM      52
39         RI      48
40         MS      37
41         HI      28
42         ME      27
43         ID      24
44         ND      23
45         GU      21
46         WV      19
47         SD      14
48         VT      13
49         WY      11
50         AK       9
51         PR       9
52         MT       8
53         MP       7
54         VI       1

In [7]:
df_state.to_csv("state_number.csv", index=False)